@media screen and (max-width: 1300px) {
  header{
    padding: 12px 6%;
    transition: .1s;
  }

  section{
    padding: 110px 3% 60px;
  }

  .skill-card p{
    font-size: 75%;
  }
  .skill-card img{
    padding: 20%;
  }

  .resume-section img{
    padding: 20%;
  }
}

@media screen and (max-width: 1100px) {
  :root{
  --big-font: 3rem;
  --h-font: 2rem;
  --p-font:1.5rem;
  --small-font: 1.1rem;
  }

  .social-media{
    top: 0%;
    width: 100px;
  }

  .social-media img{
    height: 3vh;
  }

  .find-me-container{
    width:100px;
  }
  
  .find-me-button,
  .check-resume-button,
  .download-resume-button{
    font-size: var(--small-font); 

  }

  #About-me-page{
    padding: 10px;
  }

  .about-container{
    padding: 2%;
  }

  

  .my-picture{
    width: 400px;
  }

  
}

@media screen and (max-width: 920px) {
  .content-about{
    display: flex;
    flex-direction: column;
  }


  .my-picture{
    width:fit-content;
  }

  .contact{
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 840px) {
  header{
    background-color: #3d4747;
  }

  #menu-icon{
    display: block;
  }
  .logo-container{
    display: block;
    white-space:nowrap;
  }

  .navlist{
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #3d4747;
    text-align: left;
    transition: all .45s ease;
    padding-bottom: 10px;
  }

  .navlist a{
    display: block;
    margin: 15px;
    font-size: var(--small-font);
    transition: all .45s ease;
    color: white;
  }

  .navlist a:hover{
    color: #DDB377;
  }

  .navlist a.active{
    color: #fff;
  }

  header ul li::after {
    display:none;
  }
  
  .navlist.open{
    top: 100%;
  }

  .skill-card{
    flex-basis: 40%;
  
  }

}

@media screen and (max-width: 640px) {
  .content{
  background-size:cover;

  }


  .about-container{
    padding: 10% 0 5% 0;
  }
  .my-picture{
    width:300px;
  }

  .skill-card{
    flex-basis: 100%;
  
  }
}