

#About-me-page{
  padding: 25px;
  background-color: rgba(184, 219, 217, 0.149);
  position: relative;
  transition: background-color 0.5s ease;
  overflow: hidden;
  width: 100%;
}

.my-picture{
  width: 450px;
  border-radius: 100%;  
  background-color: rgba(199, 239, 207, 0.5);

}



.about-container{
  display: flex;
  padding: 0% 5% 5% 5%;
  margin-bottom: 20px;
}


.hello{
  font-size:var(--h-font);
  font-weight: 620;
}

.name{
  color: #C7EFCF;
}

.self-description{
  font-size: var(--p-font);
  width: 100%;
}

.hello,
.self-description,
.check-resume-button
{
  margin: 3% 0;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-about{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-resume-button-container{
  min-width: 40%;
}

.check-resume-button{
  padding: 3vh 2vw;
  border: none;
  background-color: #DDB377;
  border-radius:var(--big-font);
  font-size: var(--p-font);
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
}
.check-resume-button:hover{
  opacity: 0.8;
}
.check-resume-button:active{
  opacity: 0.5;
}

.check-resume-button a {
  text-decoration: none;
  color: white;
}
.text-container{
  margin: 0 5%;
}

