#home-page{
  position: relative;
  overflow: hidden;

}

.content{
  padding: 25vh 7vw;
  font-size:var(--h-font);
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.25)),url(./portfolio-icons/WhatsApp_Image_2023-08-04_à_16.25.51-removebg.png);
  background-size:contain;
  background-position:right;
  background-repeat: no-repeat;
}



.introduction{
  font-size: var(--big-font);
  font-weight: 700;
}

.find-me-button{
  height: 9vh; 
  font-size: var(--p-font); 
  border: none;
  background-color: #DDB377;
  border-radius: var(--big-font);
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
  min-width: 100%;
}

.find-me-button:hover:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin-left:10px;
  margin-top:-10px;
  height: 140%;
  width: 120%;
  
}

.find-me-button:hover {
  opacity: 0.8;
}
.find-me-button:active{
  opacity: 0.5;
}

.find-me-container{
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  overflow: visible;
}

.social-media {
  display: none;
  justify-content: space-between;
  position: absolute;
  width: 130px;
  top: -10%;
  left: 100%; 
  transform: translateX(20%);
}

.social-media img{
  height: 4vh;
}

.find-me-button:hover .social-media {
  display: flex;
  
  left: calc(100% + 5px);
}

.social-media img:hover {
  transform: scale(0.95);
}


