#About-me-page{
  padding: 25px;
  background-color: rgb(184, 219, 217,15%);
  position: relative;
  transition: background-color 0.5s ease;
  overflow: hidden;
}

.my-picture{
  border-radius: 100%;  
  width: 400px;
  background-color: rgba(199, 239, 207, 0.5);
  margin: 0;
  padding: 0;
}


.about-container{
  display: flex;
  padding: 0% 10%;
}


.hello{
  font-size:xx-large;
  font-weight: 620;
}

.name{
  color: #C7EFCF;
}

.self-description{
  font-size: x-large;
  width: 82%;
}

.hello,
.self-description,
.check-resume-button
{
  margin: 0px 0px 60px 100px;
}

.content-about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.check-resume-button{
  width: 30%;
  padding: 20px 10px;
  border: none;
  background-color: #DDB377;
  border-radius: 50px;
  font-size: x-large;
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
}
.check-resume-button:hover{
  opacity: 0.8;
}
.check-resume-button:active{
  opacity: 0.5;
}

.check-resume-button a {
  text-decoration: none;
  color: white;
}
